[MASTER]
init-hook="from pylint.config import find_pylintrc;
import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))" 
def generate_pylintrc_content():
    content = """
[MASTER]
init-hook="from pylint.config import find_pylintrc;
import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
"""
    return content

# Printing the generated content
print(generate_pylintrc_content())
